<?xml version="1.0" encoding="UTF-8"?>
<server description="Server configuration for PostgreSQL connection">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-7.0</feature>
        <feature>mpOpenAPI-4.0</feature>
    </featureManager>


    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9090"
                  httpsPort="9443" />

    <basicRegistry id="basic" realm="BasicRealm" />

    <dataSource id="defaultDataSource" jndiName="jdbc/mascotas" type="javax.sql.DataSource">
        <jdbcDriver libraryRef="postgresql-library" />
        <properties.postgresql
                user="admin"
                password="admin"
                databaseName="mascotas"
                serverName="localhost"
                portNumber="5432" />
    </dataSource>

    <library id="postgresql-library">
        <file name="${server.config.dir}/postgresql-42.7.6.jar" />
    </library>

</server>